<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Number of Products</th>
          <th>Number of Categories</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>31</th>
          <th>3</th>
        </tr>
      </tbody>
    </table>
  </div>


